* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root {
    --main-blue-color: #1a9ac9;
    --main-blue-hvr: #147598;
    --main-violet-color: #9702ca;
    --main-green-color: #80bf00;
    --main-orange-color: #ef5600;
    --main-red-color: #da1c00;
    --main-black-color: #000;
    --main-white-color:#fff;
    --main-body-color:#474747;
    --main-grey-color:#efefef;
    --main-font-family: 'Roboto', sans-serif;
    --main-font-size:16px;
    --h2-font-size:40px;
    --h4-font-size:25px;
  }
  
a {
    color:var(--main-blue-color);
}
a, a:hover, a:focus {
    text-decoration: none;
}
.wrapper,body,html{
    height:100%
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:  #474747;
    background-color:#ebebea;
    word-wrap:break-word
}
.btn-style{
    font-size:16px;
    text-transform: uppercase;
    color: var(--main-white-color);
    background: var(--main-blue-color);
    padding: 15px 40px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}
.form-control:focus{
    border-color:#009378;
    box-shadow:none
}
.btn-mini{
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main-white-color);
    background: var(--main-blue-color);
    padding: 0 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
}

.btn-style:hover, .btn-style:focus, .btn-mini:hover, .btn-mini:focus{
    background:  var(--main-blue-hvr);
    color: var(--main-white-color);
}
 h2{
    color: var(--main-black-color);
    font-size:var(--h2-font-size);
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 30px;
}
h4{
    color: var(--main-black-color);
    font-size:var(--h4-font-size);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

.display-in-block{
    display:inline-block;
}
.display-block{
    display:block;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey; */
    border: 1px solid rgba(0, 0, 0, 0.30);
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #636363;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #484848; 
  }

  .mt-6{
    margin-top: 60px;
  }
  .mr-8{
      margin-right: 8px;
  }
  .ml-8{
      margin-left: 8px;
  }
  .disabled{
      background: #ccc;
  }
  .disabled:hover, .disabled:focus{
    background: #abaaaa;
  }


/***********************
@
@   Login page
@
***********************/

.form-check-label, .form-radio-label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    padding-left: 1.875rem;
    cursor: pointer;
    z-index: 0;
}
.custom-checkbox>input:checked+.custom-control-indicator:before, .form-check-input:checked+.form-check-label:after, .form-radio-input:checked+.form-radio-label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/***********************
@
@  Responsive page
@
***********************/

@media (min-width:768px){
    .m-account--content-w{
        -ms-flex-pack:start;
        -webkit-box-pack:start;
        justify-content:flex-start;
        text-align:inherit
    }
    .form--wizard .steps li{
        -ms-flex-preferred-size:0;
        flex-basis:0;
        -webkit-box-flex:1;
        -ms-flex-positive:1;
        flex-grow:1
    }
    .form--wizard .steps li:not(:last-child){
        margin-right:10px
    }
    .form--wizard .steps li:before{
        display:block
    }
}
@media screen and (max-width:767px){
    h2{
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    footer {
        text-align: center;
    }
    footer ul{
        margin-bottom: 0;
    }
}

@media (max-width:600px){
    footer{
        padding: 30px 0 0;
    }
    .bottomFooter{
        margin-top: 30px;
    }
    .social{
        margin-bottom: 30px;
    }
    .btn-style{
        padding: 10px 30px;
    }
    .bottomFooter{
        font-size: 12px;
    }
    .loginPage .h2, .loginPage h2 {
        font-size: 1.45rem;
    }
    // .m-account--content {
    //     max-width: 100%;
    // }
}

@media (max-width:479px){
    .btn-mini{
        width: 100%;
    }
    .btn-circle {
        min-height: 30px;
        line-height: 30px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #494f50;
  -webkit-text-fill-color:#fff;
  -webkit-box-shadow: 0 0 0px 1000px #494f50 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.validationRed{
    color:#f92672;
}
